In [28]:
import numpy as np
import pandas as pd
import requests

In [7]:
BASE_URL = "https://api.binance.com"

In [8]:
def ping_binance(BASE_URL):
    url = f"{BASE_URL}/api/v3/ping"
    response = requests.get(url)
    if response.status_code == 200:
        return True
    else:
        return False

In [10]:
ping_binance(BASE_URL)

True

In [14]:
def get_orderbook(BASE_URL, symbol, limit):
    url = f"{BASE_URL}/api/v3/depth"
    params = {"symbol": symbol, "limit": limit}
    response = requests.get(url, params=params)
    if response.status_code == 200:
        return response.json()
    else:
        print("Error: ", response.status_code)

In [16]:
resp = get_orderbook(BASE_URL,symbol="BTCUSDT", limit = 5)
resp

{'lastUpdateId': 76969460768,
 'bids': [['109413.19000000', '8.72964000'],
  ['109413.18000000', '0.02280000'],
  ['109413.17000000', '0.13642000'],
  ['109413.16000000', '0.01821000'],
  ['109413.15000000', '0.03831000']],
 'asks': [['109413.20000000', '3.27360000'],
  ['109413.21000000', '0.00345000'],
  ['109413.22000000', '0.00010000'],
  ['109413.28000000', '0.00010000'],
  ['109413.86000000', '0.00005000']]}

In [17]:
def get_recenttrades(BASE_URL: str, symbol: str, limit: int):
    url = f"{BASE_URL}/api/v3/trades"
    params = {"symbol": symbol, "limit": limit}
    response = requests.get(url, params=params)
    if response.status_code == 200:
        return response.json()
    else:
        print("Error: ", response.status_code)

In [18]:
resp = get_orderbook(BASE_URL,symbol="BTCUSDT", limit = 5)
resp

{'lastUpdateId': 76969521670,
 'bids': [['109389.92000000', '5.32409000'],
  ['109389.91000000', '0.02156000'],
  ['109389.90000000', '0.05485000'],
  ['109389.89000000', '0.03627000'],
  ['109389.88000000', '0.01816000']],
 'asks': [['109389.93000000', '0.87792000'],
  ['109389.94000000', '0.10959000'],
  ['109389.95000000', '0.02030000'],
  ['109389.96000000', '0.00010000'],
  ['109389.97000000', '0.00010000']]}

In [19]:
def get_klines(BASE_URL: str, symbol: str, interval: str, limit: int = 500, startTime: int = None, endTime: int = None):
    url = f"{BASE_URL}/api/v3/klines"
    params = {
        "symbol": symbol,
        "interval": interval,
        "limit": limit
    }
    if startTime:
        params["startTime"] = startTime
    if endTime:
        params["endTime"] = endTime

    response = requests.get(url, params=params)
    if response.status_code == 200:
        return response.json()
    else:
        print("Error:", response.status_code)
        return None

In [24]:
# [
#   [
#     1499040000000,      // Kline open time
#     "0.01634790",       // Open price
#     "0.80000000",       // High price
#     "0.01575800",       // Low price
#     "0.01577100",       // Close price
#     "148976.11427815",  // Volume
#     1499644799999,      // Kline Close time
#     "2434.19055334",    // Quote asset volume
#     308,                // Number of trades
#     "1756.87402397",    // Taker buy base asset volume
#     "28.46694368",      // Taker buy quote asset volume
#     "0"                 // Unused field, ignore.
#   ]
# ]

In [43]:
data = get_klines(BASE_URL, "BTCUSDT", "5m", limit=1000)
colnames = ["open_time", "open_price", "high_price", "low_price", "close_price", "volume", "close_time", "quote_asset_volume", "number_of_trades", "taker_buy_base_volume", "taker_buy_quote_volume", "ignore"]
data_df = pd.DataFrame(data, columns=colnames)

In [44]:
data_df

,open_time,open_price,high_price,low_price,close_price,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_volume,taker_buy_quote_volume,ignore
0,1758752700000,113509.74000000,113529.40000000,113472.50000000,113485.01000000,14.47937000,1758752999999,1643317.49059540,4197,6.48342000,735830.86691860,0
1,1758753000000,113485.01000000,113511.84000000,113441.94000000,113441.95000000,11.88767000,1758753299999,1348849.55665140,4367,7.43521000,843584.44464440,0
2,1758753300000,113441.95000000,113441.95000000,113375.00000000,113393.20000000,20.10101000,1758753599999,2279311.86661670,5692,6.14078000,696298.10526710,0
3,1758753600000,113393.19000000,113442.57000000,113368.23000000,113368.23000000,16.53368000,1758753899999,1874872.94730940,6027,3.59638000,407850.39773420,0
4,1758753900000,113368.23000000,113368.23000000,113314.46000000,113334.29000000,33.84552000,1758754199999,3835924.93400980,4874,8.95967000,1015425.21955450,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1759051200000,109416.24000000,109423.01000000,109385.08000000,109389.92000000,10.69338000,1759051499999,1169965.28585590,3196,4.28165000,468434.47929920,0
996,1759051500000,109389.92000000,109449.49000000,109373.95000000,109449.49000000,16.75295000,1759051799999,1832792.42885120,4741,9.65997000,1056850.03970790,0
997,1759051800000,109449.49000000,109512.91000000,109441.57000000,109491.00000000,31.59651000,1759052099999,3459315.56161450,4374,20.40032000,2233520.12620310,0
998,1759052100000,109491.00000000,109546.78000000,109480.03000000,109546.78000000,21.97270000,1759052399999,2406122.64567550,4125,11.79331000,1291435.61521050,0
999,1759052400000,109546.77000000,109555.37000000,109515.38000000,109537.80000000,9.83144000,1759052699999,1076949.15808500,3192,5.24586000,574612.95520040,0

In [ ]:
data_df["open_time"] = pd.to_datetime(data_df["open_time"], unit = "ms")
data_df["open_time"] = pd.to_datetime(data_df["close_time"], unit = "ms")

numeric_cols = ["open_price", "high_price", "low_price", "close_price", "volume", "quote_asset_volume", "taker_buy_base_volume", "taker_buy_quote_volume"]
data_df[numeric_cols] = data_df[numeric_cols].astype(float)

In [45]:
data_df

,open_time,open_price,high_price,low_price,close_price,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_volume,taker_buy_quote_volume,ignore
0,1758752700000,113509.74000000,113529.40000000,113472.50000000,113485.01000000,14.47937000,1758752999999,1643317.49059540,4197,6.48342000,735830.86691860,0
1,1758753000000,113485.01000000,113511.84000000,113441.94000000,113441.95000000,11.88767000,1758753299999,1348849.55665140,4367,7.43521000,843584.44464440,0
2,1758753300000,113441.95000000,113441.95000000,113375.00000000,113393.20000000,20.10101000,1758753599999,2279311.86661670,5692,6.14078000,696298.10526710,0
3,1758753600000,113393.19000000,113442.57000000,113368.23000000,113368.23000000,16.53368000,1758753899999,1874872.94730940,6027,3.59638000,407850.39773420,0
4,1758753900000,113368.23000000,113368.23000000,113314.46000000,113334.29000000,33.84552000,1758754199999,3835924.93400980,4874,8.95967000,1015425.21955450,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1759051200000,109416.24000000,109423.01000000,109385.08000000,109389.92000000,10.69338000,1759051499999,1169965.28585590,3196,4.28165000,468434.47929920,0
996,1759051500000,109389.92000000,109449.49000000,109373.95000000,109449.49000000,16.75295000,1759051799999,1832792.42885120,4741,9.65997000,1056850.03970790,0
997,1759051800000,109449.49000000,109512.91000000,109441.57000000,109491.00000000,31.59651000,1759052099999,3459315.56161450,4374,20.40032000,2233520.12620310,0
998,1759052100000,109491.00000000,109546.78000000,109480.03000000,109546.78000000,21.97270000,1759052399999,2406122.64567550,4125,11.79331000,1291435.61521050,0
999,1759052400000,109546.77000000,109555.37000000,109515.38000000,109537.80000000,9.83144000,1759052699999,1076949.15808500,3192,5.24586000,574612.95520040,0