In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("../data/org/marketdata/BTCUSDT_5m_974764800000_1763683200000.csv")

In [10]:
df.shape

(867422, 12)

In [11]:
df.head()

,Unnamed: 0,open_time,open_price,high_price,low_price,close_price,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_volume,taker_buy_quote_volume
0,0,2017-08-17 04:04:59.999,4261.48,4280.56,4261.48,4261.48,2.189061,1502942699999,9333.620962,9,0.489061,2089.104962
1,1,2017-08-17 04:09:59.999,4261.48,4261.48,4261.48,4261.48,0.000000,1502942999999,0.000000,0,0.000000,0.000000
2,2,2017-08-17 04:14:59.999,4261.48,4261.48,4261.48,4261.48,0.000000,1502943299999,0.000000,0,0.000000,0.000000
3,3,2017-08-17 04:19:59.999,4261.48,4264.88,4261.48,4261.48,0.484666,1502943599999,2065.447829,9,0.085455,364.218136
4,4,2017-08-17 04:24:59.999,4264.88,4266.29,4264.88,4266.29,2.328570,1502943899999,9931.161124,11,1.546491,6595.688039

In [12]:
df.columns

Index(['Unnamed: 0', 'open_time', 'open_price', 'high_price', 'low_price',
       'close_price', 'volume', 'close_time', 'quote_asset_volume',
       'number_of_trades', 'taker_buy_base_volume', 'taker_buy_quote_volume'],
      dtype='object')

In [14]:
df["close_time"] = pd.to_datetime(df["close_time"], unit = "ms")

In [ ]:
df.head

,Unnamed: 0,open_time,open_price,high_price,low_price,close_price,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_volume,taker_buy_quote_volume
0,0,2017-08-17 04:04:59.999,4261.48,4280.56,4261.48,4261.48,2.189061,1970-01-01 00:25:02.942699999,9333.620962,9,0.489061,2089.104962
1,1,2017-08-17 04:09:59.999,4261.48,4261.48,4261.48,4261.48,0.000000,1970-01-01 00:25:02.942999999,0.000000,0,0.000000,0.000000
2,2,2017-08-17 04:14:59.999,4261.48,4261.48,4261.48,4261.48,0.000000,1970-01-01 00:25:02.943299999,0.000000,0,0.000000,0.000000
3,3,2017-08-17 04:19:59.999,4261.48,4264.88,4261.48,4261.48,0.484666,1970-01-01 00:25:02.943599999,2065.447829,9,0.085455,364.218136
4,4,2017-08-17 04:24:59.999,4264.88,4266.29,4264.88,4266.29,2.328570,1970-01-01 00:25:02.943899999,9931.161124,11,1.546491,6595.688039